# Ignore IntelliJ IDEA project files
.idea/
app/.idea/

# Ignore Gradle specific files and directories
app/.gradle
build

# Ignore logs and other specific files
**/logs/
.settings
bin
.project*
.classpath
